!!!
%html
  %head
    %title 大和田Ruby会議
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "大和田Ruby会議は、渋谷区にある渋谷区文化総合センター大和田に大和田さんを迎えして、大和田さんを囲んで、大和田さんとお話する、そんなカイギです。", :name => "description"}/
    %meta{:content => "大和田Ruby会議 RubyKaigi じゅーん june29", :name => "keywords"}/
    %meta{:content => "大和田Ruby会議", :property => "og:title"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "http:/june29.rubykaigi.me/images/ogp.png", :property => "og:image"}/
    %meta{:content => "http:/june29.rubykaigi.me/", :property => "og:url"}/
    %meta{:contentf => "大和田Ruby会議は、大和田区に大和田さんを迎えして、大和田さんを囲んで、大和田さんとお話する、そんなカイギです。", :property => "og:description"}/
    %link{:href => "stylesheets/foundation.min.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "stylesheets/styles.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
  %body
    .row
      .six.columns
        %h1 大和田Ruby会議
    .row
      #slider.twelve.columns
        %h2 Keynote
        %h3
          大和田 純
          %br/
          (Jun Ohwada)
          %br/
          %small Ruby札幌 ゴールデンボンバー
        %p 株式会社Blabo! (Challenger)
    .row
      %hr/
    .row
      .twelve.columns
        %h2 About
        %p
          大和田Ruby会議では、会場のある「渋谷区文化総合センター 大和田」にちなんで、WEB+DB Press誌でのRuby記事執筆や、
          %a( src="http://horesa.se/" )
            horesa.se
          の人としても知られている大和田純さんにお話をいただきます。
      .six.columns
        %h3 Date
        %p 2013年2月10日（開場：18:45 終了：19:10）
        %h3 Schedule
        %ul
          %li 19:00-19:10 トーク "Ruby cruising Love" (june29)
      .six.columns
        %h3 Venue
        %p
          %a{:href => "http://www.shibu-cul.jp/guide_sakura.html"} 渋谷区文化総合センター 大和田 さくらホール
          %br
            東京都渋谷区桜丘町23-21
        :plain
          <iframe width="425" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=ja&amp;geocode=&amp;q=%E6%B8%8B%E8%B0%B7%E5%8C%BA%E6%A1%9C%E4%B8%98%E7%94%BA23-21&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=47.215051,85.517578&amp;ie=UTF8&amp;hq=&amp;hnear=%E6%97%A5%E6%9C%AC,+%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B8%8B%E8%B0%B7%E5%8C%BA%E6%A1%9C%E4%B8%98%E7%94%BA%EF%BC%92%EF%BC%93%E2%88%92%EF%BC%92%EF%BC%91&amp;t=m&amp;z=14&amp;ll=35.655447,139.699948&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=ja&amp;geocode=&amp;q=%E6%B8%8B%E8%B0%B7%E5%8C%BA%E6%A1%9C%E4%B8%98%E7%94%BA23-21&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=47.215051,85.517578&amp;ie=UTF8&amp;hq=&amp;hnear=%E6%97%A5%E6%9C%AC,+%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B8%8B%E8%B0%B7%E5%8C%BA%E6%A1%9C%E4%B8%98%E7%94%BA%EF%BC%92%EF%BC%93%E2%88%92%EF%BC%92%EF%BC%91&amp;t=m&amp;z=14&amp;ll=35.655447,139.699948" style="color:#0000FF;text-align:left">大きな地図で見る</a></small>

    %footer.row
      .twelve.columns
        %hr/
        .row
          .six.columns
            %p
              \© Copyright 東京Ruby会議10実行委員
